#footer-lessons {
  .taglist-description {
    line-height: 1.6em;
    padding-bottom: 10px;
  }
  li {
    float: left;
    width: 180px;
    margin: 0 5px 20px;
    padding: 0 0 0 10px;
    font-size: .9rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}


#footer {
  p, a {
    color: #fff;
    font-size: $small-font-size;
  }
}