#component-side-card {
  .card-body {
    margin: 5px;
  }
  .badge {
    background-color: $point-color;
    color: #fff;
    border-radius: 60%;
  }
  .card-subtitle {
    margin-left: 1rem
  }
}

.component-side-other-article {
  margin-bottom: 5px;
  .card-body {
    margin: 0 5px 5px 5px !important;
  }
  .card-img-top {
    height: 115px;
    object-fit: cover;
  }
  .card-title {
    a {
      font-size: .8rem !important;

    }
  }
}

@include max-screen($breakpoint-mobile) {
#component-side-card {
  .card-subtitle {
    margin-left: 1.7rem
  }

}

  .card-img-top {
    height: 170px !important;
    object-fit: cover;
  }

  .side-wrap {
    .sidebar {
      .card {}
    }
  }
}