
// fontFamily
$font-family-base: 'Noto Sans JP', Helvetica Neue, Helvetica, 'AvenirNext', Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$font-family-theme: 'AvenirNext', -apple-system, BlinkMacSystemFont, Roboto, Helvetica ;

$font-size-base: 16px;

// responsive
$breakpoint-tablet: 980px;
$breakpoint-mobile: 640px;


// font
$small-font-size: 12px !default;

$h5-font-size: 13px !default;
$h5-font-weight: bold;
$h5-color: #008080;

$small-title-font-size: 13px !default;

$card-height: 500px !default;