
// fontFamily
$font-family-base: 'Noto Sans JP', Helvetica Neue, Helvetica, 'AvenirNext', Avenir, "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
$font-family-theme: 'AvenirNext', -apple-system, BlinkMacSystemFont, Roboto, Helvetica ;

$font-size-base: 16px;

// responsive
$breakpoint-tablet: 980px;
$breakpoint-mobile: 640px;