#lesson-index {
    .card {
      // height: $card-height;

      .evaluate-table td{
        font-size: $small-font-size;
        padding: 0.4rem;
        padding-right: 1rem;
        min-width: 20px;
      }
    }
}
