$table-font-size: 14px !default;

.card {
  border: none;
  table td, table th {
    font-size: $table-font-size;
  }
  .card-body {
    padding: 5px 10px 10px;
    margin: 10px 5px 20px;
    height: 100%;
    border-radius: 8px;
    color: #888;
    position: relative;
    box-shadow: 0px 1px 6px 1px #aeaeae;

    .table {
      width: 100%;
      margin-bottom: 1rem;
      background-color: transparent;
      max-width: 100%;
      display: block;

    }

    .evaluate-table td{
      font-size: $table-font-size;
      padding: 0.4rem;
    }

  }

  .card-title {
      min-height: 50px;
      margin-bottom: 0;
  }
  .card-title a , .card-subtitle{
    word-wrap: break-word;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.1em;
  }

  .card-subtitle {
    color: #888;
    font-size: table-font-size;
    min-height: 20px;
  }

  .table-header {
    background: #0cb3d9;

    th {
      color: #fff;
      font-weight: lighter;
      letter-spacing: 0.1em;
      line-height: 18px;
      font-size: $table-font-size;
      padding: 0.75rem .5rem;
    }
    td {
      font-size: $table-font-size;
    }
  }
}