#lesson-show {
  .card {
    .card-body {
      .card-title {
        font-size:   13px;
        font-weight: $h5-font-weight;
        color:       $h5-color;
        min-height: 0px;
        margin: .5rem;
      }

      .card-text {
        font-size: $small-font-size;
      }

      .list-group {
        li , a{
          font-size: $small-font-size;
        }
      }
      // .evaluate-table {
      //   width: 230px !important;
      //   margin: 0 auto !important;
      // }
    }
  }

  table {
    td {
      font-size: $small-font-size;
    }
  }

  #evaluate-table {
    margin-top: .5rem;
    td , th{
      font-size: $small-font-size;
      padding-right: 5rem;
    }
  }

  #text-table {
    padding: 5px 10px 10px;
    margin: 10px 5px 20px;
    border-radius: 8px;
    color: #888;
    position: relative;
    -webkit-box-shadow: 0px 1px 6px 1px #aeaeae;
    box-shadow: 0px 1px 6px 1px #aeaeae;
  }
}